$width: 100px;
$height: 100px;
$margin: 5px;
$slotColor: lightgrey;
$slotColorHover: #adb1cd;
$bumperColor: #0c2160;
$playerOne: #ffb508;
$playerTwo: #ff0f22;
$boardWidth: calc(7 * #{$width} + 8 * #{$margin});
$boardHeight: calc(6 * #{$height} + 7 * #{$margin});

body {
  background: #778899;
  font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}

#boardContainer {
  margin: 20px auto;
  width: $boardWidth;
  height: $boardHeight;
}

#footer {
  text-align: center;
  padding: 30px;
  background: #363636;
  color: #d3d3d3;
}

.bootstrap-dialog-footer-buttons {
  text-align: center;
}

.jsConnect4Board {
    position: relative;
    width: $boardWidth;
    height: $boardHeight;

    cursor: pointer;

    background: $bumperColor;

    .slot {
        position: absolute;
        background: $slotColor;

        &:hover {
            background: $slotColorHover;
        }
    }

    .tile {
        height: $height;
        width: $width;
        position: absolute;
        border-radius: 100%;
        -webkit-transition: -webkit-transform 1s;
        transition: transform 1s;

        &.player1 {
            background: $playerOne;
        }

        &.player2 {
            background: $playerTwo;
        }

        &.winner {
          -webkit-transform: scale(1.2);
          -moz-transform: scale(1.2);
          -ms-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2);
        }

        &.looser {
          -webkit-transform: scale(0.8);
          -moz-transform: scale(0.8);
          -ms-transform: scale(0.8);
          -o-transform: scale(0.8);
          transform: scale(0.8);
          opacity: 0.3;
        }
    }
}

.bumperVer, .bumperHor {
    z-index: 1000;
}
